@model LMSFinance.Models.Home

@{
    ViewBag.Title = "Subject";
    Layout = null;
}

@using (Html.BeginForm())
{
    <style>

        .ac{
            background-color: lightgrey;
            width:fit-content;
            height:fit-content;
        }
        h2 {
            color: orangered;
        }

    </style>

    <div class="ac">
        <h4> Amount Student: 
            <h2>
                <b>@Model.IdStuNum</b>
            </h2>
        </h4>
    </div>

    <div class="ac">
        <h4> Discount Student: 
            <h2>
                <b>@Model.DisStuNum</b>
            </h2>
        </h4>
    </div>
    <img src="@Url.Action("pietypechart")" alt="Pie chart" />

}
